html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  background: #eeecec;
  width: 500px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid rgb(90, 86, 86);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.displayArea {
  flex: 1 1 200px;
}

.inputArea {
  flex: 1 1 100px;
  background: white;
  border: 1 solid white;
}

input {
  width: 100%;
  height: 100%;
  text-align: right;
  font-size: 25px;
}

.buttons {
  flex: 1 1 500px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 3px;
  padding: 5px;
}

#btn7 {
  grid-column: 1;
  grid-row: 1;
}

#btn8 {
  grid-column: 2;
  grid-row: 1;
}

#btn9 {
  grid-column: 3;
  grid-row: 1;
}

#btn4 {
  grid-column: 1;
  grid-row: 2;
}

#btn5 {
  grid-column: 2;
  grid-row: 2;
}

#btn6 {
  grid-column: 3;
  grid-row: 2;
}

#btn1 {
  grid-column: 1;
  grid-row: 3;
}

#btn2 {
  grid-column: 2;
  grid-row: 3;
}

#btn3 {
  grid-column: 3;
  grid-row: 3;
}

#btn0 {
  grid-column: 1;
  grid-row: 4;
}

#btnDot {
  grid-column: 2;
  grid-row: 4;
}

#btnSum {
  grid-column: 5/ 7;
  grid-row: 4;
  background: green;
  color: white;
}

#btnDivd {
  grid-column: 4;
  grid-row: 1;
}

#btnMultiply {
  grid-column: 4;
  grid-row: 2;
}

#btnMinus {
  grid-column: 4;
  grid-row: 3;
}

#btnPlus {
  grid-column: 4;
  grid-row: 4;
}
#btnDel {
  grid-column: 5;
  grid-row: 1;
}
#btnPerc {
  grid-column: 3;
  grid-row: 4;
}
#btnClr {
  grid-column: 6;
  grid-row: 1;
}
#btnBrac1 {
  grid-column: 5;
  grid-row: 2;
}
#btnBrac2 {
  grid-column: 6;
  grid-row: 2;
}
#btnsq {
  grid-column: 5;
  grid-row: 3;
}
#btnRoot {
  grid-column: 6;
  grid-row: 3;
}

button {
  border-radius: 8px;
}
