@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700;900&display=swap");
main {
}

.bookshelf--card__display {
	/* background: url("https://picsum.photos/200"); */
	border: 1px solid #ccc;
	width: 200px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px 1px #888;
	overflow: hidden;
}

.bookcard--text {
	font-family: "Inconsolata", monospace;
	font-size: 0.6rem;
	font-weight: 500;
	padding: 0.2rem;
}

.bookcard--author {
	display: block;
	width: 100%;
}

.bookcard--pages {
	float: right;
}

.section_input-add {
	display: none;
}
