html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 650px;
  height: 650px;
  text-align: center;
  margin: auto;
  position: relative;
}

.sketchBoard {
  width: inherit;
  height: inherit;
  border: 4rem solid red;
  border-radius: 4rem;
}

.sketchDivs {
  width: 10px;
  height: 10px;
}

button {
  /* text-align: center; */
  line-height: 40px;
  border-radius: 50%;
  width: 60px;
  border: none;
}

#create {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

#clear {
  position: absolute;
  bottom: 15px;
  right: 20px;
}