html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 650px;
  height: 650px;
  text-align: center;
  margin: auto;
  position: relative;
}

.sketchBoard {
  width: inherit;
  height: inherit;
  border: 4rem solid red;
  border-radius: 4rem;
  display: grid;
  /* grid-template-columns: repeat(10, 1fr); */
}

.sketchDivs {
  border: 1px solid black;
}

button {
  /* text-align: center; */
  line-height: 40px;
  border-radius: 50%;
  width: 60px;
  border: none;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 2rem auto;
  width: 100%;
}

#create {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

#clear {
  position: absolute;
  bottom: 15px;
  right: 20px;
}